* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}

nav h1 {
  font-size: 28px;
  font-weight: 800;
  /* color: #333; */
}

.text {
  display: flex;
  align-items: center;
  gap: 30px;
}

.text ul {
  display: flex;
  gap: 30px;
}

.text ul li {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease;
}

.text ul li:hover {
  color: #fb982f;
}

.text button {
  width: 131px;
  height: 41px;
  background-color: #fb982f;
  /* color: #000; */
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.text button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.text button:nth-child(3) {
  background-color: #000;
  color: #fff;
  box-shadow: 4px 4px 0px #00000040;
}

.section {
  padding: 100px;
  margin-top: 30px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture img {
  width: 739px;
  height: 432px;
}
.info h3 {
  width: 420px;
  height: 112px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 36px;
  line-height: 155%;
}
.info p {
  width: 426px;
  height: 101px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  margin-top: 20px;
  /* color: #000000; */
}
.info button {
  width: 195px;
  height: 53px;
  background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
  color: #000;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}